  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Charity</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/revolution-slider/css/settings.css" rel="stylesheet">
    <link href="assets/css/global.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <link href="assets/css/skin.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>



<!-- site content -->
      <div id="main">
        <!-- cause page Start Here-->
        <div class="content-wrapper cause-page-section" id="page-info">
          <div class="container">
            <section class="our-story row anim-section">
              <div class="col-xs-12">
                <header class="page-header section-header top-spacer">
                  <h2><!-- You can help lots of people by donating little. --> <strong>Campaigns</strong></h2>
                </header>
              </div>
            </section>

            <!-- Our Causes Section-->
            <section class="our-causes">
              <div class="anim-section">
                <div class="row"> 
                          
                      <!-- Article Section Srart Here -->
                    <div class="article-list progressbar">

                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Help African children to get shelter</h3>
                          <a href="causes-detail.html" class="img-thumb">
                            <figure>
                            <img src="assets/img/img-slide-01.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">72% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                            Offer your support to provide abodes for African children. You can support a child with a donation, a legacy or by volunteering your time and skills.  
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>
 


                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Help girls to get Education</h3>
                          <a href="causes-detail-with-sidebar.html" class="img-thumb">
                            <figure>
                            <img src="assets/img/img-slide-02.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">60% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                            You can contribute fund to help African girls get education opportunities so that they can have a brighter future
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>


                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Help us to send Vegetables to Africa</h3>
                          <a href="causes-detail-with-sidebar.html" method="get" class="img-thumb">
                            <figure>
                            <img src="assets/img/img-slide-03.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">80% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                            You can offer your support by sending vegetables that we can further send to these children in Africa
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>


                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Help Economic Opportunity</h3>
                          <a href="causes-detail.html" class="img-thumb">
                            <figure>
                            <img src="assets/img/slide-banner-01.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">72% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                          We are eager to get economic support to secure children’s health and academic development
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>


                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Focusing on Forgotten Rural Community</h3>
                          <a href="#" class="img-thumb">
                            <figure>
                            <img src="assets/img/img-slide-05.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">72% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                            You can help us re-bond the rural community that could help the children to learn the value of living together
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>


                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Help Tanzania Female Farmers</h3>
                          <a href="#" class="img-thumb">
                            <figure>
                            <img src="assets/img/img-slide-06.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">72% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                          Let the female farmers in Tanzania fulfill their basic necessity of life from your donation
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>

                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Help African children to get shelter</h3>
                          <a href="#" class="img-thumb">
                            <figure>
                            <img src="assets/img/img-slide-01.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">72% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                            Offer your support to provide abodes for African children. You can support a child with a donation, a legacy or by volunteering your time and skills.  
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>


                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Help girls to get Education</h3>
                          <a href="#" class="img-thumb">
                            <figure>
                            <img src="assets/img/img-slide-02.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">60% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                            You can contribute fund to help African girls get education opportunities so that they can have a brighter future
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>


                      <div class="cols-xs-12 col-sm-4 anim-section">
                        <div class="spacer-bottom zoom equal-box">
                          <h3 class="h5">Help us to send Vegetables to Africa</h3>
                          <a href="#" class="img-thumb">
                            <figure>
                            <img src="assets/img/img-slide-03.jpg" alt="" width="600" height="400">
                            </figure>
                            </a>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-value">80% </span>
                            </div>
                          </div>
                          <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                          <p>
                            You can offer your support by sending vegetables that we can further send to these children in Africa
                          </p>
                          <a href="/profile.hbs" class="btn btn-default">ACT NOW</a>
                        </div>
                      </div>

                    </div>
                    <!-- Article Section Srart Here -->
                
                </div>
              </div>
            </section>
            <!-- Our Causes Section End-->

            <!--Pagination Section Start Here-->
            <div class="cols-xs-12 anim-section text-center">
              <ul class="pagination">
                <li>
                  <a href="#">Prev</a>
                </li>
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">Next</a>
                </li>
              </ul>

            </div>
            <!--Pagination Section End Here-->

          </div>

        </div>
        <!-- cause page Start End-->
      </div>
      <!-- site content ends -->
