        <!-- Site Content -->
      <div id="main">
        <!-- banner slider Start Here -->
        <section class="rev_slider_wrapper banner-section">
          <div class="rev_slider banner-slider">
            <ul>
              <!-- SLIDE  -->
              <li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-1" >
                <!-- MAIN IMAGE -->
                <img src="assets/img/1.jpg" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">

                <div 
                data-endspeed="500"
                data-easing="easeOutCirc"
                data-start="500"
                data-speed="700"
                data-y="103"
                data-x="152"
                class="tp-caption sft">
                  <span class="btn btn-bg"> <h1> Empower Humanity</h1> </span>
                </div>

                <div
                data-endspeed="800"
                data-easing="easeOutCirc"
                data-start="800"
                data-speed="700"
                data-y="150"
                data-x="152"
                class="tp-caption sft banner-heading">
             
                </div>

                <div
                data-endspeed="1000"
                data-easing="easeOutCirc"
                data-start="1000"
                data-speed="700"
                data-y="304"
                data-x="152"
                class="tp-caption sft banner-summary">
                  <p>
                    
                  </p>
                </div>

                <div
                data-endspeed="1200"
                data-easing="easeOutCirc"
                data-start="1200"
                data-speed="700"
                data-y="416"
                data-x="152"
                class="tp-caption sft">
                  <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Learn More</a>

                  <a href="https://www.youtube.com/watch?v=oAVtOmhQ5D4" data-gallery="prettyPhoto" class="watch-video"><i class="fa fa-play"></i> Watch Video</a>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <!-- banner slider End Here -->


  <!-- FEATURED CAMPAIGNS-->
        <section class="our-causes">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                  <h2> <strong> Featured Campaign</strong></h2>
                </div>

                <div class="article-list flexslider article-slider progressbar">
                  <ul class="slides">
                  <li>
                  <div class="items zoom">
                    <h3 class="h6">Support After School Program for Inner City Kids</h3>
                    <a href="#" class="img-thumb">
                      <figure>
                      <img src="assets/img/3.jpg" alt="">
                      </figure>
                      </a>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                       <!--  <span class="progress-value">72% </span> -->
                      </div>
                    </div>
                 <!--    <span class="donation">Donation : <span class="value">$78,354 <small>/ $126,500</small></span></span> -->
                    <p>
                    Help children excel in school, succed in highschool, and go to college to get a degree. 
                    </p>
                    <a data-toggle="modal" href="/profile" class="btn btn-default">Act Now</a>
                 <!--    <a data-toggle="modal" href="/volunteerform"  class="btn btn-default">Volunteer Now</a> -->
                  </div>
                  </li>
                  <li>
                  <div class="items zoom">
                    <h3 class="h6">Support an health clinic provide check ups to underinsured seniors</h3>
                    <a href="#" class="img-thumb">
                      <figure>
                      <img src="assets/img/4.jpg" alt="">
                      </figure>
                      </a>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                       <!--  <span class="progress-value">60% </span> -->
                      </div>
                    </div>
                 <!--    <span class="donation">Donation : <span class="value">$8,354 <small>/ $50,000</small></span></span> -->
                    <p>
                      Our seniors should be able to age with dignity and have access to necessary health exams. 
                    </p>
                    <a data-toggle="modal" href="/profile" class="btn btn-default">Act Now</a>
                  <!--   <a data-toggle="modal" href="/volunteerform" class="btn btn-default">Volunteer Now</a> -->
                  </div>
                  </li>

                  <li>
                  <div class="items zoom">
                    <h3 class="h6">Support a health clinic provide check ups </h3>
                    <a href="#" class="img-thumb">
                      <figure>
                      <img src="assets/img/5.jpg" alt="">
                      </figure>
                      </a>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                  <!--       <span class="progress-value">60% </span> -->
                      </div>
                    </div>
                 <!--    <span class="donation">Donation : <span class="value">$8,354 <small>/ $50,000</small></span></span> -->
                    <p>
                      Our seniors should be able to age with dignity and have access to necessary health exams.
                    </p>
                    <a data-toggle="modal" href="/profile" class="btn btn-default">Act Now</a>
                 <!--    <a data-toggle="modal" href="/volunteerform" class="btn btn-default">Volunteer Now</a> -->
                  </div>
                  </li>
                </ul>
                </div>
                <h4><a href="/campaigns"> See all Campaigns</a></h4>
              </div>
            </div>

          </div>
        </section>
  <!-- Our Causes Section End Here-->


  <!-- Browse by Cause-->
      <section class="how-to-help">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown">Find a great organization</h1>
                    <p class="sub animateme fittext3 animated fadeIn"> Search a local charity, non-profit organization, or cause </p>

                </div>
    <!-- /.intro -->
        <div class="container">
            <div class="col-lg-12 content-box ">
                <div class="row row-featured row-featured-category">
                        <div class="inner"><h2><span>Browse by</span>
                        </div>
                   
                    <div class="col-lg-4 col-md-4col-sm-4 col-xs-4 f-category">
                        <a href="/art"><img src="assets/img/arts.jpg" class="img-responsive" alt="img"><h6> Arts & Culture </h6></a>
                    </div>
                    <div class="col-lg-4 col-md-4col-sm-4 col-xs-4 f-category"> 
                        <a href="/education"><img src="assets/img/ed.jpg" class="img-responsive" alt="img"> <h6> Education </h6></a>
                    </div>
                    <div class="col-lg-4 col-md-4col-sm-4 col-xs-4 f-category">
                        <a href="/environment"><img src="assets/img/env.jpg" class="img-responsive" alt="img"> <h6> Environment/Animal </h6></a>
                    </div>
                    <div class="col-lg-4 col-md-4col-sm-4 col-xs-4 f-category">
                        <a href="/health"><img src="assets/img/health.jpg" class="img-responsive" alt="img"> <h6> Health </h6></a>
                    </div>
                    <div class="col-lg-4 col-md-4col-sm-4 col-xs-4 f-category">
                        <a href="/homeless"><img src="assets/img/homeless.jpg" class="img-responsive" alt="img"> <h6> Homelessness </h6></a>
                    </div>
                    <div class="col-lg-3 col-md-3col-sm-3 col-xs-3 f-category">
                        <a href="/family"><img src="assets/img/fam.jpg"> <h6> Family Youth  </h6></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <!-- How To Help Section End Here-->

  <!-- Featured Stories -->
        <section class="latest-news ">
          <div class="container anim-section">
            <div class="row">
              <div class="col-xs-12">
                <header class="page-header section-header clearfix">
                  <h2>Featured Stories. <strong></strong></h2>
                </header>

                <div class="article-list row">
                  <div class="items zoom col-xs-12 col-sm-4">
                    <a href="#" class="img-thumb">
                      <figure>
                      <img src="assets/img/8.jpg" alt="">
                      </figure>
                      </a>
                    <h3>John Mundo</h3>
                    <span class="date">DEC 2016</span><span class="posted-in">Posted In : category</span>
                    <p>
                      How a free medical check up saved the life of Mikey Mikes.
                    </p>
                    <a href="/story" class="btn btn-default">READ MORE</a>
                  </div>
                  <div class="items zoom col-xs-12 col-sm-4">
                    <a href="#" class="img-thumb">
                      <figure>
                      <img src="assets/img/6.jpg" alt="">
                      </figure>
                      </a>
                    <h3>Sally Feilds</h3>
                    <span class="date">03 FEB 2016</span><span class="posted-in">Posted In : category</span>
                    <p>
                     School books helps students in African.
                    </p>
                    <a href="/story" class="btn btn-default">READ MORE</a>
                  </div>
                  <div class="items zoom col-xs-12 col-sm-4">
                    <a href="#" class="img-thumb">
                      <figure>
                      <img src="assets/img/7.jpg" alt="">
                      </figure>
                      </a>
                    <h3>Bridgette Jones</h3>
                    <span class="date">03 Mar 2016</span><span class="posted-in">Posted In : category</span>
                    <p>
                      Homeless shelter provides a roof over the head 
                    </p>
                    <a href="/story" class="btn btn-default">READ MORE</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
  <!-- Latest News Section End Here -->

  <!--Testimonial Section End Here -->
  <script src="assets/js/jquery.min.js"></script>
    <!-- Switcher Style Js -->
    <script src="assets/js/style-switcher/assets/js/style.switcher.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <!-- Switcher Style End Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <!--Main Slider Js-->
    <script src="assets/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
    <script src="assets/revolution-slider/js/jquery.themepunch.revolution.js"></script>
    <!--Main Slider End Js-->
    <script src="assets/js/jquery.flexslider.js"></script>
    <script src="assets/js/site.js"></script>
  </body>
</html>
