<div class="main-container">
        
<div class="tab-content">
                      <!-- Signin Section Start Here-->
                      <div class="tab-pane active" id="signin">
                        <div class="row">
                          <div class="col-sm-5">
                            <h4>Log/Sign In</h4>
                            <form role="form" action="/log" method="POST" >
                            <div class="form-group">
                              <label for="name">Username<span>*</span></label>
                              <input name="username" type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                              <label for="name">Email<span>*</span></label>
                              <input name="email" type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                              <label for="password">password<span>*</span></label>
                              <input name="password" type="text" class="form-control" id="password">
                            </div>
                            <div class="form-group btns-wrapper">
                              <button type="submit" class="btn btn-default btn-lg">login</button>
                              <a href="#" class="pull-right frgt-pwd">Lost Password?</a>
                            </div>
                            </form>
                          </div>
                          <div class="col-sm-6 col-sm-offset-1">
                            <h4>I'm new here</h4>
                            <p>Click here to create an account. It is simple and all you need is a username, active email, and password.</p>
                            <p>Login using  username and password to view the user area.</p>
                            <div class="btns-wrapper">
                            <a href="/signup" class="btn btn-default grouped">Create an account </a>
                            <!-- <a href="#" class="btn btn-default grouped">Checkout as a guest </a> -->
                          </div>
                          </div>
                        </div>
                      </div>
                      <!-- Signin Section Ends Here-->
                      

                       </div>
