    <div class="intro" style="background-image: url(images/bg3.jpg);">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown">Find a great organization</h1>
                    <p class="sub animateme fittext3 animated fadeIn"> Search a local charity, non-profit organization, or cause </p>

                </div>
            </div>
        </div>
    </div>
    <!-- /.intro -->

    
