<body>

    <div id="wrapper">
      <!--Header Section Start Here -->
      
      <!-- Header Section End Here -->
      <!-- site content -->
      <div id="main">
      <!-- Breadcrumb Section Start Here -->
       <!--  -->
      <!-- Breadcrumb Section End Here -->

        <div class="container mission-page" id="page-info">
          <div class="row">
            <div class="col-xs-12">
              <!-- Help Us Section Start Here-->
              <section class="help-us">
                <header class="page-header section-header clearfix">
                  <h2>We need you, <strong class="border-none">Help us around</strong></h2>
                </header>
                <figure>
        <!--         <img src="assets/img/help.jpg" alt=""> -->
                </figure>
              </section>
              <!-- Help Us Section End Here-->
              <!-- Process Step Section Start Here-->
              <section class="process-section anim-section text-center">
                <header class="page-header section-header clearfix">
                  <h2>How you can apply, <strong>Here is process</strong></h2>
                </header>
                <div class="row processes">
                  <div class="col-xs-12 col-sm-3">
                    <div class="process-step">
                      Step 1
                    </div>
                    <h3 class="h4">Create An Account</h3>
                    <p>
                      
Submit your basic information including Name, Address, and Contact details (including, Gmail or Facebook Id)
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <div class="process-step">
                      Step 2
                    </div>
                    <h3 class="h4">Attach Image &amp; Signature</h3>
                    <p>
                      
Scan a form of ID... this is for authenticity. It also eases the way for us to confirm your identity.
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <div class="process-step">
                      Step 3
                    </div>
                    <h3 class="h4">Select your volunteer  &amp; opportunity</h3>
                    <p>
                      
Now, there is a form, where you need to add education and professional detail, so that we can easily divide our team on the basis of role.
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <div class="process-step">
                      Step 4
                    </div>
                    <h3 class="h4">Complete and get a response within 72 hours</h3>
                    <p>
                      
At last, check all your detailed information and click final to get your identity card. It is valid for 1 year.
                    </p>
                  </div>
                </div>
                <p class="text-center">
                  <a data-toggle="modal" href="external.html" data-target=".join-now-form" class="btn btn-default btn-lg join-today">JOIN TODAY</a>
                </p>
              </section>
              <!-- Process Step Section End Here-->
            </div>
          </div>
        </div>

      </div>
      <!-- site content ends -->

      <div class="modal join-now-form">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <header class="page-header">
              <h2>Become a <strong>Volunteer</strong></h2>
            </header>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="name-join">Name<span>*</span></label>
                    <input type="text" class="form-control" id="name-join">
                  </div>
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="last-name-join">Last Name<span>*</span></label>
                    <input type="text" class="form-control" id="last-name-join">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="email-join">Email<span>*</span></label>
                    <input type="text" class="form-control" id="email-join">
                  </div>
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="phone-join">Phone<span>*</span></label>
                    <input type="text" class="form-control" id="phone-join">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="zip-code-join">ZIP code<span>*</span></label>
                    <input type="password" class="form-control" id="zip-code-join">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group col-xs-12">
                    <label for="message-join">Why you join volunteer<span>*</span></label>
                    <textarea class="form-control" id="message-join"></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-default pull-right">
                      Submit
                    </button>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group col-xs-12">
                    <p class="forms-notes">
                      Note: Note for voulnteer form
                    </p>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- join now form popup -->

      
