 <!-- How To Help Section Start Here -->
        <section class="how-to-help">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 ">
                <header class="page-header section-header">
                  <h2>How you can help? <strong>See below</strong></h2>
                </header>

                <div class="row help-list">
                  <div class="col-xs-12 col-sm-6 col-lg-5">
                    <article class="media">
                      <a class="pull-left warning-icon-box" href="our-story.html"><i class="icon-volume"></i></a>
                      <div class="media-body less-width">
                        <h3 class="media-heading">Make a Donation</h3>
                        <p>
                          Choose any medium either offline or online to send donation to support a great cause
                        </p>
                      </div>
                    </article>
                    <article class="media">
                      <a class="pull-left warning-icon-box" href="volunteer.html"><i class="icon-user"></i></a>
                      <div class="media-body less-width">
                        <h3 class="media-heading">Become Volunteer</h3>
                        <p>
                          Take initiate to become a volunteer and help people, who do not have any hope for good living.
                        </p>
                      </div>
                    </article>
                    <article class="media">
                      <a class="pull-left warning-icon-box" href="external.html" data-toggle="modal" data-target=".donate-form"><i class="icon-heart"></i></a>
                      <div class="media-body less-width">
                        <h3 class="media-heading">Support a Campaign</h3>
                        <p>
                          Choose from a number of great campaigns. Donate to a cause, become a volunteer, or contribute directly to an organization in a number of different ways.

                        </p>
                      </div>
                    </article>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-lg-6 col-lg-offset-1">
                    <div class="embed-responsive embed-responsive-16by9">
                      <img  src="assets/img/2.jpg" alt="Click to play" data-video="http://www.youtube.com/embed/zP_D_YKnwi0?autoplay=1"/>
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
  <!-- How To Help Section End Here-->
