      <footer id="footer">
      <!--   <div class="copyright"> -->
     <!--     <h2>get started today</h2>
          <div class="container"> -->
            <div class="row">
              <div class="col-xs-12">
                <span> &copy; Copyright 2016, WorldPublico.
                  </span>
              </div>
            </div>
       <!--    </div> -->
   <!--      </div> -->
      </footer>
