<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>WorldPublico</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
        <!-- Bootstrap -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="/assets/revolution-slider/css/settings.css" rel="stylesheet">
        <link href="/assets/css/global.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/responsive.css" rel="stylesheet">
        <link href="/assets/css/skin.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>
    <body>

        <div id="wrapper">
            <!--Header Section Start Here -->
            <header id="header">
                <div class="container">
                    <div class="row primary-header">
                        <a href="/home" class="col-xs-12 col-sm-2 brand" title="WorldPublico"><img src="/assets/img/logo.jpg" alt="WorldPublico"></a>
                        <div class="social-links col-xs-12 col-sm-10">
                         <!--   <a href="/createpost" class="btn btn-default btn-volunteer">Create Post</a> -->
                            
                            <a href="/login" class="btn btn-default btn-volunteer">Log In</a>
                            <a href="/signup" class="btn btn-default btn-volunteer">Sign Up</a>
                            <a href="/startcampaign" class="btn btn-default btn-volunteer">Start a Campaign</a>
                           

                            <ul class="social-icons hidden-xs">
                                <li>
                                    <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="http://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <nav>
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="/home"> Home </a>

                                </li>

                                <li>
                                    <a href="/campaigns"> Explore Campaigns </a>

                                </li>

                                <li>
                                    <a href="/howitworks"> How it Works </a>
                                </li>
<!-- 
                                <li>
                                    <a href="/donate"> Donate </a> 
                                </li> -->
                                
                          <!--       <li>
                                    <a href="/organizations">Organizations </a>
                                   
                                </li>

                                 <li>
                                    <a href="/resources">Resources </a>
                                   
                                </li> -->

                                <li>
                                    <a href="/blog"> Blog </a>
                                

                                </li>
                              

                            </ul>
                            </nav>
                            
                            <form class="navbar-form navbar-right search-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search Here">
                                </div>
                                <button type="submit">
                                    <i class="icon-search"></i>
                                </button>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </div>

            </header>
            <!-- Header Section End Here -->
 <script src="assets/js/jquery.min.js"></script>
    <!-- Switcher Style Js -->
    <script src="assets/js/style-switcher/assets/js/style.switcher.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <!-- Switcher Style End Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <!--Main Slider Js-->
    <script src="assets/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
    <script src="assets/revolution-slider/js/jquery.themepunch.revolution.js"></script>
    <!--Main Slider End Js-->
    <script src="assets/js/jquery.flexslider.js"></script>
    <script src="assets/js/site.js"></script>
